.news-card{
  // width: 40%;
  width: 670px;
  // height: 375px;
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;
}
.card-img-overlay:hover {
  cursor: pointer;
  visibility: visible;
  background: linear-gradient(to bottom, transparent, transparent, rgb(32, 32, 32));
}
.card-img-overlay:hover .card-title.h5{
  cursor: pointer;
  visibility: visible;
}
.card-title.h5{
  position: absolute;
  bottom: 0;
  visibility: hidden;
  font-size: 25px;
  color: hsl(176, 68%, 64%);
  font-weight: bold;
}
.card-img{
  height: 375px;
}
.news-con h2{
  color: var(--accent-color-cyan);
  padding-left: 40px;
  // margin-bottom: 30px;
  font-size: 35px;
}
// .news-card img{
//   border-radius: 30px;
// }